h2 {
    padding: 1rem 1.5rem;
    margin: 0;
}

::ng-deep .mat-vertical-stepper-content {
    display: grid;
    gap: 1rem;
    padding: 0.5rem 0;
}

button {
    font-size: 1.1rem;
}

#ingredient-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    align-items: flex-start;

    .ingredient-wrapper {
        display: grid;
        position: relative;
        row-gap: 0.5rem;
        text-align: center;
        width: 56px;

        .ingredient-img {
            border-radius: 50%;
            height: 56px;
            width: 56px;
            box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%),
                0px 1px 18px 0px rgb(0 0 0 / 12%);
        }
        span {
        }
    }
}
